#ice-cream-section {
  width: 48%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.cookie-column, .ice-cream-column {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 48%;
}

.cookie-flavor {
  border: dotted rgb(137,207,240);
}

.iceCream-flavor {
  border: dashed pink;
}
.food-img {
    display: flex;
    width: 48%;
}

.food-header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description-div {
  display: flex;
  flex-flow: row wrap;
}
#cookies-section {
    width: 48%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.food-column {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  width: 48%;
}

.food-name, .food-description {
  text-align: center;
  width: 100%;
}

.food-description {
  font-style: italic;
}

.food-name {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mainHeader {
    width: 100%;
    text-align: center;
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
