#ice-cream-section {
  width: 48%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.cookie-column, .food-column {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 48%;
}

.food-img, .description-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 48%;
}

#cookies-section {
    width: 48%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.food-name, .food-description {
  text-align: center;
  width: 100%;
}

.food-description {
  font-style: italic;
}

#mainHeader {
    width: 100%;
    text-align: center;
}
body {
    display: flex;
    flex-flow: row wrap;
}
