#ice-cream-section {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.cookie-column {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.food-img, .description-div {
    width: 50%;
}

#cookies-section {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.food-column {
  display: flex;
  align-items: center;
}

.food-name {
  text-align: center;
}

#mainHeader {
    width: 100%;
    text-align: center;
}
body {
    display: flex;
    flex-flow: row wrap;
}

.food-description {
    text-align: center;
}